<!DOCTYPE html>
<html lang="en">
<head>


    <title>Clojure</title>

    <link href="css/bootstrap.css" rel="stylesheet">

</head>

<body>
        <a href="/allMeals">All meals</a>

        <!-- Bootstrap -->
        <script src="js/bootstrap.js"></script>
</body>
</html>
