<!DOCTYPE html>
<html lang="en">
<head>


    <title>Clojure</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allMeals">All meals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allMenus">All menus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</nav>
<!-- Content -->
<div id="tableDiv" class="tableDiv">
<a class="button btn btn-primary" href="/insertMenu">Insert menu</a>
<table id="datatable-meals" class="table table-bordered table-hover">
    <thead class="thead-light" >
    <tr>
        <th scope="col">Menu id</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Chef</th>
        <th scope="col">Update &nbsp;</th>
        <th scope="col">Delete &nbsp;</th>
        <th scope="col">Print &nbsp;</th>
    </tr>
    </thead>

    <tbody>

    {{#menu}}
        <tr>
            <td>{{menu_id}}</td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{chef}}</td>
            <td><a href="/domain/menus/{{menu_id}}/update"><i class="fa fa-pencil-square-o"></i></a></td>
            <td><a href="/domain/menus/{{menu_id}}/delete"><i class="fa fa-remove"></i></a></td>
            <td><a href="/domain/menus/{{menu_id}}/show"><i class="fa fa-print"></i></a></td>
        </tr>
    {{/menu}}
    </tbody>
</table>
</div>

<!-- Bootstrap -->
<script src="scripts/js/bootstrap.js" ></script>
<link rel="stylesheet" href="scripts/css/clojure.css">

</body>
</html>