<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clojure/UpdateMeal</title>

    <link rel="stylesheet" type="text/css" href="{{ scripts/css/bootstrap.css }}" />
    <link rel="stylesheet" type="text/css" href="{{ scripts/css/clojure.css }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allMeals">All meals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Call</a>
            </li>
        </ul>
        <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</nav>
<!-- Content -->
<div class="col-md-3 center">
    <h3>Update meal</h3>
    <form action="/domain/meals/{{meal.meal_id}}/update" method="post">
        <div class="form-group">
            <label for="model">Meal ID</label>
            <input type="text" class="form-control" name="meal_id"
                   value="{{meal.meal_id}}"/>
        </div>
        <div class="form-group">
            <label>Meal name</label>
            <input type="text" class="form-control" name="meal_name"
                   value="{{meal.meal_name}}"/>
        </div>
        <div class="form-group">
            <label>Calories</label>
            <input type="text" class="form-control" name="kcal_100g"
                   value="{{meal.kcal_100g}}"/>
        </div>
        <div class="form-group">
            <label>Proteins</label>
            <input type="text" class="form-control" name="proteins_100g"
                   value="{{meal.proteins_100g}}"/>
        </div>
        <div class="form-group">
            <label>Carbs</label>
            <input type="text" class="form-control" name="carbs_100g"
                   value="{{meal.carbs_100g}}"/>
        </div>
        <div class="form-group">
            <label>Fats</label>
            <input type="text" class="form-control" name="fats_100g"
                   value="{{meal.fats_100g}}"/>
        </div>
        <div class="form-group">
            <label>Meal type</label>
            <input type="text" class="form-control" name="meal_type"
                   value="{{meal.meal_type}}"/>
        </div>
        <button type="submit" class="btn btn-danger">Save</button>
    </form>
</div>
    <!-- Bootstrap -->
    <script src="{{ scripts/js/bootstrap.js }}"></script>
</body>
</html>
