<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clojure/UpdateMenu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allMeals">All meals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allMenus">All menus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</nav>
<!-- Content -->
<div class="col-md-3 center">
    <h3>Update menu</h3>
    <form action="/domain/menus/{{menu.menu_id}}/update" method="post">
        <div class="form-group">
            <label for="model">Menu ID</label>
            <input type="text" class="form-control" name="menu_id"
                   value="{{menu.menu_id}}"/>
        </div>
        <div class="form-group">
            <label>Menu name</label>
            <input type="text" class="form-control" name="name"
                   value="{{menu.name}}"/>
        </div>
        <div class="form-group">
            <label>Menu type</label>
            <select name="chef" class="form-control">
                {{#menu_type}}
                    <option value="{{menu_type_id}}">{{menu_type_name}}</option>
                {{/menu_type}}
            </select>
        </div>
        <div class="form-group">
            <label>Date created</label>
            <input type="text" class="form-control" name="date_created"
                   value="{{menu.date_created}}"/>
        </div>
        <div class="form-group">
            <label>Chef</label>
            <select name="chef" class="form-control">
                {{#chef}}
                    <option value="{{chef_id}}">{{name}} {{surname}}</option>
                {{/chef}}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Save</button>
    </form>
</div>
<!-- Bootstrap -->
<script src="scripts/js/bootstrap.js" ></script>
<link rel="stylesheet" href="scripts/css/clojure.css">
</body>
</html>
